.firstSection{
    background-color: aquamarine;
    display: flex;

    @media(min-width: 999px){
        display: block;
    }
}

p{
    @media(min-width: 999px){
        display: grid;
    }
}

.close-button{
    height: 100px;
    width: 100px;
    background-color: red;
    background-image: url("../img/icons/icons.svg#close-button");
}

.three{
    height: 200px;
    width: 200px;
    background-image: url(../img/modern-breakfast-bar.jpg);
}
