@font-face {
    font-family: 'gotham_proregular';
	src: url('../fonts/gothampro-webfont.eot'); /* IE9 Compat Modes */
	src: local(''),
	   url('../fonts/gothampro-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/gothampro-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../fonts/gothampro-webfont.woff') format('woff'), /* Modern Browsers */
	   url('../fonts/gothampro-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/gothampro-webfont.svg#gotham_proregular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}